.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;

}

.dashboard-catch {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: left;
    padding-left: 20px;
    
}

.footer-container {
    background-color: white;
    position: sticky;
    bottom: 0;
    z-index: 10;
}
.dashboard-line {
    margin: 0px;
    height: 2px;
    border-width: 0;
    color: black;
    background-color: black;
}

.dashboard-summary-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
}

.dasboard-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.dasboard-buttons button {
    width: 130px;
    height: 45px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
}

.button-summary{
    background-color:blanchedalmond !important; 
    color: black !important;
    border: solid !important;
    border-color:burlywood !important;
    border-width: 1px !important;
    font-weight: bold !important;
}

.button-addfish{
    border: solid !important;
    border-color:rgb(102, 102, 250) !important;
    border-width: 1px !important;
    font-weight: bold !important;
}