.layout-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.layout-container img {
  width: 40px;
}

.layout-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: lavender;
  height: 40px;
  border: solid;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-color: rgb(80, 25, 105);
  font-size: 30px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.layout-dashboard-container {
  display: flex;
  flex-direction: row;
}

.layout-left {
  width: 100%;
}

.layout-dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200em;
  max-width: 60vh;
  
}

.layout-right {
  width: 100%;
}