.summary-modal-show{
    display: block;
    position: initial;
}

.summary-header{    
  display: flex;
  justify-content: center;
  background-color: lavender;
  height: 40px;
  border: solid;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-color: rgb(80, 25, 105);
}

.summary-header-title{
  font-size: 30px;
  font-weight: bold;
  
}

.summary-sumWeight, .summary-sumLength, .summary-allSpecies{
  font-size: 20px;  
  font-weight: bold;
}

.summary-text{
  padding-bottom: 10px;
}

.summary-footer{
  display: flex;
  justify-content: center;
}

.summary-button-close{
    background-color: rgb(44, 158, 211);
    border: solid;
    border-color:rgb(102, 102, 250);
    border-width: 1px;
    font-weight: bold;
    width: 120px;
}